body{
    /* background-image: url(bgh.jpg); 
    background-repeat: no-repeat;
    background-size: 100%; */
    /* background-color: black; */
    background-image: url(bh2.avif);
    /* background-image: linear-gradient(90deg, #07035b 0%, #090979 35%, #71afbb 100%); */
    
}
 .main{
    height: 430px;
    width : 370px;
    position: absolute;
    top: 0%;
    bottom: 0%;
    right: 0%;
    left: 0%;
    margin: auto;
    text-align: center;
    background-color: rgb(218, 216, 216);
    border-radius: 6px;
    color: rgb(0, 0, 0);
}

.cells {
    width: 80px;
    height: 80px;
    border: 1px solid black;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-size: 43px;
    text-align: center;
    line-height: 100px; 
    margin: 5px;         
    cursor: pointer;
    border-radius: 6px;
    background-color: rgb(200, 185, 144) ;
}

#reset {
    margin-top: 20px;
    height: 33px;
    width: 150px;
    border-radius: 6px;
    border: none;
    font-weight: bold;
    font-size: 20px;
    background-color: rgb(179, 66, 66);
    cursor: pointer;
  
}
